<% include ./partials/header %>
		<h1>AremuCamp</h1>
        <div class="well">
						<h4>
						<p align="justify">
							I have loved innovation and I have a mentality that most of the problems in our community can be solved using software,
				            I have used my understanding of computers, their repais and usage to help people in my community who need my help, and at a point
							I just wanted to know more so I can help my commmunity, so thats how I started taking online lessons on website building, watching videos on youtube etc 
							And thats how <strong>AremuCamp</strong> was built and I am open to learning more. 
						</p>
						 <p align="justify">
							 I am using this medium to reachout to anyone who would require my services, 
							 refer me to someone or probably give me a recommendation should please reach out to me through <a href="/contact">Contact</a>
							 and I will be grateful for that and I will be willing to offer my services to you and most
							 importantly I have other few skills like Data analyst, Laboratory 
							 Technologist, Quality control/Assurance, Logistics management etc and some few informations about me are stated below which includes a copy of my Resume/Cv.
						</p>
						 <p align="justify">
							 My name is <strong>AREMU LUCKY BABA</strong> I have <strong>HND</strong> upper 
							 credit in <strong>Chemistry/Biochemistry</strong> from the department of Science 
							 Laboratory Technology <strong>Auchi Polytechnic Auchi,Edo state in 2015.</strong> During my
							 Nysc 2016/2017, I used my spare time to learn how to repair computers, then after Nysc I worked 
							 as a customer representative at PACYBB cosmetics.
							 I successfully built my first Demo website called <strong>AremuCamp</strong> and its
							 beautiful. It took me almost 4 months to study and build this website. <strong>I 
							 will really appreciate a job, referal or recommendation from anybody to get a new 
							 Job. Thank You.</strong>
						</p>
					</h4>
			</div>  
			<img src="https://res.cloudinary.com/aremucamp/image/upload/v1527160725/pre9rjy6tyv1ca0ctevc.jpg" alt="CV page1" height="900px" width="550px">;  <img src="https://res.cloudinary.com/aremucamp/image/upload/v1527258839/u8v71szoiwczfu7cjos5.jpg"alt="CV page2" height="900px" width="550px">
			<h3> <a href="/campground">Back</a>  </h3>

 
