
	<!-- <a>	<P><Address>13 Osapa london,Lekki-Epe Expressway,Lagos State, Nigeria.</Address></P>
		<p>Email: aremu.baba70@gmail.com</p>
		<p>Mobile No. 08032236791</p>	</a>	
		<a href="/campground">Back</a>
  -->

  <% include ./partials/header %>
		<h1>AremuCamp</h1>
		<div class="well">
					<em> <P align="justify"><Address>13 Bamidele Eletu, Osapa london, Lekki-Epe Expressway, Lagos State, Nigeria.</Address></P>
						<p align="justify">Email: aremu.baba70@gmail.com</p>
						<p align="justify">Mobile No. 08032236791</p>	</em>
						
</div>
<h3><a href="/campground">Back</a></h3>
<!-- <% include ./partials/footer %> -->